#wrapper {
	width: 960px;
	margin: 0 auto 0 auto;
}

#graphContainer {
	height: 300px;
	width: 960px;
	background-color: #97d988;
	position: relative;
}

#graphContainer img {
	position: absolute;
}

.graphColumn {
	float: left;
	width: 300px;
}